* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --head: #ffffff;
  --para: #bbbbbb;
}
body {
  background: #000;
}

img {
  width: 100%;
  display: block;
}
.container{
  margin: 0 auto;
}
.sagebuttons {
  max-width: 250px;
  padding: 12px 30px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 37px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 980px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1100px;
  }
}